PUBLIC_SITE_URL=https://hoangthejason.github.io

# Giscus
PUBLIC_GISCUS_REPO=hoangthejason/hoangthejason.github.io
PUBLIC_GISCUS_REPO_ID=
PUBLIC_GISCUS_CATEGORY=General
PUBLIC_GISCUS_CATEGORY_ID=
PUBLIC_GISCUS_MAPPING=pathname

# Plausible
PUBLIC_PLAUSIBLE_DOMAIN=
PUBLIC_PLAUSIBLE_SCRIPT_SRC=https://plausible.io/js/script.js
